*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: inherit;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
}

.logo{
    position: fixed;
    max-width: 95px;
    top: 0;
    margin-top: 3px;
}

.logo > a > img {
    margin-left: 4em
}

button{
    padding: 10px;
}

.main-nav{
    margin-top: 15px;
}

.main-nav > .nav-item{
    padding: 10px 10px 19px 10px;
    text-overflow: ellipsis;
}

.main-nav > .nav-item:first-child{
    border-bottom: 4px red solid;
}

.main-nav > .nav-item:hover{
    color: red;
}

@media screen and (max-width: 500px) {

    .logo{
        display: none;
    }

    .button-search{
        margin-top: 30px;
    }
    .button-login{
        width: 100px;
    }
}

@media screen and (max-width: 900px) {
    .logo > a > img{
        margin-top: 8px;
        margin-left: 5px;
    }
}
section{
    padding-top: 74px
}
.banner{
    height: 100vh;
    z-index: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-image: url('/assets/demo/images/product/main-welcome.jpg');
    overflow: hidden;
    position: fixed;
}
.container{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    position: relative;

}
.now-search{
    color: #FFFFFF;
    width: 470px;
    z-index: 2;
    top: 50%;
    margin-top: 30vh;
    position: absolute;
}
.form-search{
    padding: 30px 0 40px;
}
.category-list-filter .category-item {
    font-size: 16px;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    padding: 7px 21px;
    border-radius: 6px;
    border: 1px solid;
    display: inline-block;
    margin: 10px;
}

.container-main-home{
    position: relative;
    z-index: auto;

}

.container-main-home .main-right-home{
    float: right;
    position: relative;
    width: 700px;
    margin-top: 50px;
}
.container-main-home .main-right-home .user-get-local{
    background-color: #ffffff;
    padding: 15px 20px 15px 40px ;
    border-radius: 5px;
    margin-bottom: 20px;
}
.pointer{
    cursor: pointer;
}

.title-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 14px 0px;
}
.view-all-deal{
    float: right;
    margin-right: 20px;
}

.container-main-home .main-right-home .now-list-restaurant{
    background-color: #ffffff;
    padding: 15px 20px 15px 40px ;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
}
//.now-list-restaurant{
//    border-radius: 6px;
//    margin-bottom: 20px;
//    position: relative;
//    background-color: #FFFFFF;
//}

//.main-right-home .now-list-restaurant{
//    padding: 13px 40px 10px;
//    border: 1px solid #d7d7d7;
//    background-color: #fff;
//}
//
.main-right-home > .now-list-restaurant > .list-restaurant > .item-restaurant {
    width: 33.33333%;
    margin-right: 23px;
    display: inline;
    margin-bottom: 20px;
}
.main-right-home > .now-list-restaurant > .list-restaurant > .item-restaurant:nth-child(3n+0){
    margin-right: 0;
}

.main-right-home > .now-list-restaurant > .list-restaurant > .item-restaurant > a > .img-restaurant{
    max-width: 33.33333%;
}


.main-right-home > .now-list-restaurant > .list-restaurant > .item-restaurant > item-content > .img-restaurant > img{
    width: 100%;
    height: 100%;
    object-fit: contain
}
//.list-restaurant{
//    position: relative;
//}
//.now-list-restaurant .item-restaurant{
//    float: left
//}
//.now-list-restaurant{
//    border-radius: 6px;
//    margin-bottom: 20px;
//    position: relative;
//}
//
//.item-content{
//    border-radius: 6px;
//    background-color: #ffffff;
//    display: block;
//}
//popup
:host ::ng-deep .p-button {
    margin: 0 .5rem 0 0;
    min-width: 10rem;
}

p {
    margin: 0;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
    min-width: 6rem;
}

