<header class="main-header" [style]="{'position': 'fixed', 'width' : '100vw'}">
<!--    <div class="container" [style]="{'background-color': 'white'}">-->

<!--        <p-menubar [model]="items" (click) = "activeMenu($event)" >-->
<!--            <ng-template pTemplate="start"-->
<!--            >-->
<!--                <span class="p-float-label"-->
<!--                      style="width: 30vw"-->
<!--                >-->
<!--                    <a class="navbar-brand" href="#">Soisota</a>-->
<!--                </span>-->
<!--            </ng-template>-->
<!--            <ng-template pTemplate="end">-->
<!--                <button pButton pRipple type="button" class="p-button-rounded p-button-text" icon="pi pi-search"></button>-->
<!--                <button pButton pRipple type="button" label="Đăng nhập" class="p-button-outlined p-button-info"></button>-->
<!--            </ng-template>-->
<!--        </p-menubar>-->

<!--    </div>-->

    <div class="p-fluid grid" [style]="{'background-color': 'white', 'padding': '10px'}">
        <div class="field col-12 md:col-2">
            <div class="p-fluid grid col-12">
                <div class="logo" >
                    <a href="">
                        <img src="assets/layout/images/wolf_login_3.svg" alt="Soisota"
                             style="width: 100%; height: 100%;"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="field col-12 md:col-2">
            <div class="p-fluid grid col-12" [style]="{'padding-top': '5px'}">
                <p-dropdown [options]="selectsItem" [(ngModel)]="selectedItem" optionLabel="label"></p-dropdown>
            </div>
        </div>
        <div class="field col-12 md:col-5 main-nav" >
<!--            <p-tabMenu [model]="items" [activeItem]="activeItem" [style]="{'margin-top' : '20px'}"></p-tabMenu>-->
            <a class="nav-item" *ngFor="let item of items" href="{{item.url}}" id="{{item.id}}" (click)="onClickTabMenu($event, item.id)">{{item.label}}</a>
        </div>
        <div class="field col-12 md:col-3">
            <div class="p-fluid grid " [style]="{'padding-top': '5px'}">
                <div class="field col-12 md:col-3"></div>
                <div class="field col-12 md:col-3 button-search" >
                    <button pButton pRipple type="button" class="p-button-rounded p-button-text" icon="pi pi-search"></button>
                </div>
                <div class="field col-12 md:col-4 button-login">
                    <button (click)="onLogin()" pButton pRipple type="button"  label="Đăng nhập" class="p-button-outlined p-button-info"></button>
                </div>
                <div class="field col-12 md:col-2"></div>
            </div>
        </div>
    </div>
</header>
<section>

</section>
<footer>

</footer>
