<header class="main-header" [style]="{'position': 'fixed', 'width' : '100vw'}">
<!--    <div class="container" [style]="{'background-color': 'white'}">-->

<!--        <p-menubar [model]="items" (click) = "activeMenu($event)" >-->
<!--            <ng-template pTemplate="start"-->
<!--            >-->
<!--                <span class="p-float-label"-->
<!--                      style="width: 30vw"-->
<!--                >-->
<!--                    <a class="navbar-brand" href="#">Soisota</a>-->
<!--                </span>-->
<!--            </ng-template>-->
<!--            <ng-template pTemplate="end">-->
<!--                <button pButton pRipple type="button" class="p-button-rounded p-button-text" icon="pi pi-search"></button>-->
<!--                <button pButton pRipple type="button" label="Đăng nhập" class="p-button-outlined p-button-info"></button>-->
<!--            </ng-template>-->
<!--        </p-menubar>-->

<!--    </div>-->

    <div class="p-fluid grid" [style]="{'background-color': 'white', 'padding': '10px'}">
        <div class="field col-12 md:col-2">
            <div class="p-fluid grid col-12">
                <div class="logo" >
                    <a href="">
                        <img src="assets/layout/images/wolf_login_3.svg" alt="Soisota"
                             style="width: 100%; height: 100%;"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="field col-12 md:col-2">
            <div class="p-fluid grid col-12" [style]="{'padding-top': '5px'}">
                <p-dropdown [style]="{'min-width': '119px'}" [options]="selectsItem" [(ngModel)]="selectedItem" optionLabel="label"></p-dropdown>
            </div>
        </div>
        <div class="field col-12 md:col-5 main-nav" >
<!--            <p-tabMenu [model]="items" [activeItem]="activeItem" [style]="{'margin-top' : '20px'}"></p-tabMenu>-->
            <a class="nav-item" *ngFor="let item of items" href="{{item.url}}" id="{{item.id}}" (click)="onClickTabMenu($event, item.id)">{{item.label}}</a>
        </div>
        <div class="field col-12 md:col-3">
            <div class="p-fluid grid " [style]="{'padding-top': '5px'}">
                <div class="field col-12 md:col-3"></div>
                <div class="field col-12 md:col-3 button-search" >
                    <button pButton pRipple type="button" class="p-button-rounded p-button-text btn-search" icon="pi pi-search"></button>
                </div>
                <div class="field col-12 md:col-4 button-login">
                    <button (click)="onLogin()" pButton pRipple type="button"  label="Đăng nhập" class="p-button-outlined p-button-info btn-login"></button>
                </div>
                <div class="field col-12 md:col-2"></div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="banner" id="scroll_div">
        <div class="container">
            <div class="now-search">
                <div>
                    <h1>  Đặt đồ ăn, giao hàng từ 20'...</h1>
                    <div> có 12345 địa điểm ở Quảng Bình từ 00:00 - 23:59</div>
                </div>
                <div class="form-search">
                    <div class="p-inputgroup" style="width: 90%;">
                        <input type="text" pInputText placeholder="Tìm kiếm" style="padding-left: 10px">
                        <button type="button"  pRipple style="width:50px">
                            <span class="pi pi-search" style="padding: 0px 9px;"></span>
                        </button>
                    </div>
                </div>
                <div class="category-list-filter">
                    <a href=""></a>
                    <span class="category-item "> Tất cả</span>
                    <a href=""></a>
                    <span class="category-item ">Đồ ăn</span>
                    <a href=""></a>
                    <span class="category-item ">Đồ uống</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-main-home clearfix">
        <div class="container">
            <div class="main-right-home">
                <div class="user-get-local">
                    <div class="row pointer p-inputgroup" (click)="showModalDialog()">
                        <div class="col-auto">
                            <span class="" style="color: #0288d1;font-weight: 700;margin-left: -12px;">Thực phẩm</span>
                            <i class="pi pi-arrow-right" style=" margin-left: 0.5rem!important;"></i>
                        </div>
                        <div class="col pl-2 pr-2">
                            Chọn địa chỉ giao hàng
                        </div>
                        <div class="col-auto">
                            <span class="pl-2 pr-2 "></span>
                            <i class="pi pi-chevron-right"></i>
                        </div>
                    </div>
                </div>

                <div class="now-list-restaurant" id="list_restaurant">
                    <div class="title-wrapper">
                        <h2 style="font-size: 16px; font-weight: 700;">Ưu đãi</h2>
                        <a class="view-all-deal"href="">
                            <span class="pi pi-microsoft" style="font-size: 10px;"></span>
                            Xem tất cả
                        </a>
                    </div>
                    <div class="list-restaurant">
                        <div class="item-restaurant">
                            <a target="_blank" class="item-content" href="">
                                <div class="img-restaurant">
                                    <img src="/assets/demo/images/product/foody.jpg" alt="">
                                </div>
                                <div class="info-restaurant">
                                    <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                    <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                                </div>
                                <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                                <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                            </a>
                        </div>
                        <div class="item-restaurant">
                            <a target="_blank" class="item-content" href="">
                                <div class="img-restaurant">
                                    <img src="/assets/demo/images/product/foody.jpg" alt="">
                                </div>
                                <div class="info-restaurant">
                                    <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                    <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                                </div>
                                <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                                <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                            </a>
                        </div><div class="item-restaurant">
                            <a target="_blank" class="item-content" href="">
                                <div class="img-restaurant">
                                    <img src="/assets/demo/images/product/foody.jpg" alt="">
                                </div>
                                <div class="info-restaurant">
                                    <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                    <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                                </div>
                                <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                                <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                            </a>
                        </div><div class="item-restaurant">
                            <a target="_blank" class="item-content" href="">
                                <div class="img-restaurant">
                                    <img src="/assets/demo/images/product/foody.jpg" alt="">
                                </div>
                                <div class="info-restaurant">
                                    <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                    <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                                </div>
                                <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                                <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                            </a>
                        </div><div class="item-restaurant">
                            <a target="_blank" class="item-content" href="">
                                <div class="img-restaurant">
                                    <img src="/assets/demo/images/product/foody.jpg" alt="">
                                </div>
                                <div class="info-restaurant">
                                    <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                    <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                                </div>
                                <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                                <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                            </a>
                        </div><div class="item-restaurant">
                            <a target="_blank" class="item-content" href="">
                                <div class="img-restaurant">
                                    <img src="/assets/demo/images/product/foody.jpg" alt="">
                                </div>
                                <div class="info-restaurant">
                                    <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                    <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                                </div>
                                <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                                <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                            </a>
                        </div><div class="item-restaurant">
                            <a target="_blank" class="item-content" href="">
                                <div class="img-restaurant">
                                    <img src="/assets/demo/images/product/foody.jpg" alt="">
                                </div>
                                <div class="info-restaurant">
                                    <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                    <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                                </div>
                                <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                                <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                            </a>
                        </div><div class="item-restaurant">
                            <a target="_blank" class="item-content" href="">
                                <div class="img-restaurant">
                                    <img src="/assets/demo/images/product/foody.jpg" alt="">
                                </div>
                                <div class="info-restaurant">
                                    <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                    <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                                </div>
                                <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                                <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                            </a>
                        </div>
                        <div class="item-restaurant">
                            <a target="_blank" class="item-content" href="">
                                <div class="img-restaurant">
                                    <img src="/assets/demo/images/product/foody.jpg" alt="">
                                </div>
                                <div class="info-restaurant">
                                    <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                    <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                                </div>
                                <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                                <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                            </a>
                        </div>
                        <div class="item-restaurant">
                            <a target="_blank" class="item-content" href="">
                                <div class="img-restaurant">
                                    <img src="/assets/demo/images/product/foody.jpg" alt="">
                                </div>
                                <div class="info-restaurant">
                                    <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                    <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                                </div>
                                <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                                <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                            </a>
                        </div><div class="item-restaurant">
                            <a target="_blank" class="item-content" href="">
                                <div class="img-restaurant">
                                    <img src="/assets/demo/images/product/foody.jpg" alt="">
                                </div>
                                <div class="info-restaurant">
                                    <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                    <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                                </div>
                                <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                                <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                            </a>
                        </div><div class="item-restaurant">
                            <a target="_blank" class="item-content" href="">
                                <div class="img-restaurant">
                                    <img src="/assets/demo/images/product/foody.jpg" alt="">
                                </div>
                                <div class="info-restaurant">
                                    <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                    <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                                </div>
                                <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                                <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                            </a>
                        </div><div class="item-restaurant">
                            <a target="_blank" class="item-content" href="">
                                <div class="img-restaurant">
                                    <img src="/assets/demo/images/product/foody.jpg" alt="">
                                </div>
                                <div class="info-restaurant">
                                    <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                    <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                                </div>
                                <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                                <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                            </a>
                        </div>
                        <div class="item-restaurant">
                            <a target="_blank" class="item-content" href="">
                                <div class="img-restaurant">
                                    <img src="/assets/demo/images/product/foody.jpg" alt="">
                                </div>
                                <div class="info-restaurant">
                                    <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                    <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                                </div>
                                <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                                <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                            </a>
                        </div>
                        <div class="item-restaurant">
                            <a target="_blank" class="item-content" href="">
                                <div class="img-restaurant">
                                    <img src="/assets/demo/images/product/foody.jpg" alt="">
                                </div>
                                <div class="info-restaurant">
                                    <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                    <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                                </div>
                                <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                                <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="now-list-restaurant" id="">
                    <div class="title-wrapper">
                        <h2 style="font-size: 16px; font-weight: 700;">Ưu đãi</h2>
                        <a class="view-all-deal"href="">
                            <span class="pi pi-microsoft" style="font-size: 10px;"></span>
                            Xem tất cả
                        </a>
                    </div>
                    <div class="list-restaurant">
                        <div class="item-restaurant">
                            <a target="_blank" class="item-content" href="">
                                <div class="img-restaurant">
                                    <img src="/assets/demo/images/product/foody.jpg" alt="">
                                </div>
                                <div class="info-restaurant">
                                    <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                    <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                                </div>
                                <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                                <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                            </a>
                        </div>
                        <div class="item-restaurant">
                            <a target="_blank" class="item-content" href="">
                                <div class="img-restaurant">
                                    <img src="/assets/demo/images/product/foody.jpg" alt="">
                                </div>
                                <div class="info-restaurant">
                                    <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                    <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                                </div>
                                <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                                <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                            </a>
                        </div><div class="item-restaurant">
                        <a target="_blank" class="item-content" href="">
                            <div class="img-restaurant">
                                <img src="/assets/demo/images/product/foody.jpg" alt="">
                            </div>
                            <div class="info-restaurant">
                                <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                            </div>
                            <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                            <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                        </a>
                    </div><div class="item-restaurant">
                        <a target="_blank" class="item-content" href="">
                            <div class="img-restaurant">
                                <img src="/assets/demo/images/product/foody.jpg" alt="">
                            </div>
                            <div class="info-restaurant">
                                <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                            </div>
                            <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                            <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                        </a>
                    </div><div class="item-restaurant">
                        <a target="_blank" class="item-content" href="">
                            <div class="img-restaurant">
                                <img src="/assets/demo/images/product/foody.jpg" alt="">
                            </div>
                            <div class="info-restaurant">
                                <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                            </div>
                            <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                            <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                        </a>
                    </div><div class="item-restaurant">
                        <a target="_blank" class="item-content" href="">
                            <div class="img-restaurant">
                                <img src="/assets/demo/images/product/foody.jpg" alt="">
                            </div>
                            <div class="info-restaurant">
                                <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                            </div>
                            <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                            <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                        </a>
                    </div><div class="item-restaurant">
                        <a target="_blank" class="item-content" href="">
                            <div class="img-restaurant">
                                <img src="/assets/demo/images/product/foody.jpg" alt="">
                            </div>
                            <div class="info-restaurant">
                                <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                            </div>
                            <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                            <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                        </a>
                    </div><div class="item-restaurant">
                        <a target="_blank" class="item-content" href="">
                            <div class="img-restaurant">
                                <img src="/assets/demo/images/product/foody.jpg" alt="">
                            </div>
                            <div class="info-restaurant">
                                <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                            </div>
                            <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                            <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                        </a>
                    </div>
                        <div class="item-restaurant">
                            <a target="_blank" class="item-content" href="">
                                <div class="img-restaurant">
                                    <img src="/assets/demo/images/product/foody.jpg" alt="">
                                </div>
                                <div class="info-restaurant">
                                    <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                    <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                                </div>
                                <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                                <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                            </a>
                        </div>
                        <div class="item-restaurant">
                            <a target="_blank" class="item-content" href="">
                                <div class="img-restaurant">
                                    <img src="/assets/demo/images/product/foody.jpg" alt="">
                                </div>
                                <div class="info-restaurant">
                                    <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                    <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                                </div>
                                <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                                <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                            </a>
                        </div><div class="item-restaurant">
                        <a target="_blank" class="item-content" href="">
                            <div class="img-restaurant">
                                <img src="/assets/demo/images/product/foody.jpg" alt="">
                            </div>
                            <div class="info-restaurant">
                                <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                            </div>
                            <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                            <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                        </a>
                    </div><div class="item-restaurant">
                        <a target="_blank" class="item-content" href="">
                            <div class="img-restaurant">
                                <img src="/assets/demo/images/product/foody.jpg" alt="">
                            </div>
                            <div class="info-restaurant">
                                <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                            </div>
                            <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                            <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                        </a>
                    </div><div class="item-restaurant">
                        <a target="_blank" class="item-content" href="">
                            <div class="img-restaurant">
                                <img src="/assets/demo/images/product/foody.jpg" alt="">
                            </div>
                            <div class="info-restaurant">
                                <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                            </div>
                            <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                            <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                        </a>
                    </div>
                        <div class="item-restaurant">
                            <a target="_blank" class="item-content" href="">
                                <div class="img-restaurant">
                                    <img src="/assets/demo/images/product/foody.jpg" alt="">
                                </div>
                                <div class="info-restaurant">
                                    <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                    <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                                </div>
                                <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                                <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                            </a>
                        </div>
                        <div class="item-restaurant">
                            <a target="_blank" class="item-content" href="">
                                <div class="img-restaurant">
                                    <img src="/assets/demo/images/product/foody.jpg" alt="">
                                </div>
                                <div class="info-restaurant">
                                    <h4 class="name-res" title="Bếp Bà Muối - Ăn Vặt Online">Bếp Bà Muối - Ăn Vặt Online</h4>
                                    <div class="address-res" title="606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM">606/52 Đường 3 Tháng 2, P. 14, Quận 10, TP. HCM</div>
                                </div>
                                <p class="content-promotion"><i class="pi pi-tag" style="color: red"></i> Giảm món</p>
                                <div class="opentime-status"><span class="stt online" title="Mở cửa" style="color: rgb(35, 152, 57); background-color: rgb(35, 152, 57);"></span></div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="container-inner">
            <div class="block-footer block-left">
                <h2 style="font-size: 16px; font-weight: bold; margin-bottom: 23px">Thông tin</h2>
                <ul>
                    <li *ngFor="let link of listLinkFooter">
                        <a  href="{{link.url}}">{{link.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="block-footer block-middle">
                <a href="">
                    <img src="assets/layout/images/wolf_login_3.svg" alt="Soisota"
                         style="width: 100%; height: auto; margin: 0 auto"
                    />
                    <p style="color:  #7c7303; font-weight: bold">Soisota Page</p>
                </a>
            </div>
            <div class="block-right">
                <h2 style="font-size: 16px; font-weight: bold; margin-bottom: 23px">Địa chỉ</h2>
                <address>{{address.content}}<br>
                    Số điện thoại: <a href="tel:{{address.phone}}" style="color:  #0088FF">{{address.phone}}</a><br>
                    <a href="mailto:{{address.email}}" style="color:  #0088FF">{{address.email}}</a>
                </address>
            </div>
        </div>
        <div id="footer-bottom"></div>
    </div>
</footer>
<p-dialog header="Header" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false">
    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
