#div-eye-view{
    position: relative;
}

#btn-eye-view{
    position: absolute;
    top: -8.6rem;
    right: 1.2rem;
    z-index: 100;
}

#process-upload{
    position: relative;
}

#div-message-upload{
    width: 13rem;
    position: absolute;
    top: 1.8rem;
    right: 1.2rem;
    z-index: 100;
}

@keyframes firework {
    0% {
        transform: translate(-50%, 60vh);
        width: 0.5vmin;
        opacity: 1;
        z-index: 300;
    }
    50% {
        width: 0.5vmin;
        opacity: 1;
        z-index: 300;
    }
    100% {
        width: 45vmin;
        opacity: 0;
    }
}

.firework,
.firework::before,
.firework::after {
    --top: 60vh;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.5vmin;
    aspect-ratio: 1;
    background:
        /* random backgrounds */
        radial-gradient(circle, red 0.2vmin, #0000 0) 50% 00%,
        radial-gradient(circle, #ff0 0.3vmin, #0000 0) 00% 50%,
        radial-gradient(circle, green 0.5vmin, #0000 0) 50% 99%,
        radial-gradient(circle, #ff0 0.2vmin, #0000 0) 99% 50%,
        radial-gradient(circle, #ff0 0.3vmin, #0000 0) 80% 90%,
        radial-gradient(circle, blue 0.5vmin, #0000 0) 95% 90%,
        radial-gradient(circle, #ff0 0.5vmin, #0000 0) 10% 60%,
        radial-gradient(circle, orange 0.2vmin, #0000 0) 31% 80%,
        radial-gradient(circle, purple 0.3vmin, #0000 0) 80% 10%,
        radial-gradient(circle, #ff0 0.2vmin, #0000 0) 90% 23%,
        radial-gradient(circle, black 0.3vmin, #0000 0) 45% 20%,
        radial-gradient(circle, #ff0 0.5vmin, #0000 0) 13% 24%
;
    background-size: 0.5vmin 0.5vmin;
    background-repeat: no-repeat;
    animation-name: firework;
    animation-duration:  2s;
    animation-iteration-count: 3;
    z-index: 300;
}

.firework::before {
    transform: translate(-50%, -50%) rotate(25deg) !important;
    z-index: 300;
}

.firework::after {
    transform: translate(-50%, -50%) rotate(-37deg) !important;
    z-index: 300;
}
