<div class="pages-body login-page flex" filter-color="orange"
     style="overflow:overlay; padding:0px;">
    <!--        <a href="" class="topbar-logo">-->
    <!--            <img src="assets/layout/images/S_BILL_Topbar_2.png "style="width: 60%; height: 100%"/>-->
    <!--        </a>-->
    <div class="body-left">
        <div class=""
             style="border-radius: 30px; border: none; background-color:#ffffff00; box-shadow: none; min-width: 330px;padding: 10rem;">
            <div class="">
                <img src="assets/layout/images/S_BILL_Login.png "
                     style="width: 60%; height: 100% ;"/>
            </div>
        </div>
    </div>
    <div class="body-right">
        <div class="body-login" style="color: #c9dedd">
            <h2 style="color: #ffffff; font-family: sans-serif;">Quên mật khẩu? 🔒</h2>
            <p>Nhập email hoặc số điện thoại của bạn bạn và chúng tôi sẽ gửi cho bạn liên kết để đặt
                lại mật khẩu của bạn </p>
            <div class="field" style="width: 100%">
                <label for="emailorphone" class="block">Email hoặc số điện thoại</label>
                <input id="emailorphone" type="email" [(ngModel)]="emailOrPhone"
                       (keypress)="onSubmitEnter($event)"
                       pInputText placeholder="Nhập email hoặc số điện thoại tài khoản của bạn"/>
            </div>

            <div class="field" style="width: 100%">
                <p-button class="login-button" (onClick)="onSubmit()"
                          [disabled]="!this.emailOrPhone || this.emailOrPhone == ''"
                          [style]="{'background-color': 'white', 'color': 'black','margin-bottom':'0rem','width':'100%'}"
                          label="Gửi ngay"></p-button>
            </div>
            <div class="footer-login">
                <p><i class="pi pi-angle-left"></i><a [routerLink]="['/login']"
                                                      routerLinkActive="active"> Trở lại trang đăng
                    nhập </a></p>
            </div>
            <div class="px-3"
                 style="align-items: center;border-bottom: 1px solid #dadde1;display: flex;margin: 20px 28px;text-align: center;width:80%;"></div>
            <div class="footer-login">
                <a style="background-color: #3b5998" href=""><i class="pi pi-facebook"></i></a>
                <a style="background-color:#444444" href=""><i class="pi pi-github"></i></a>
                <a style="background-color:#55acee" href=""><i class="pi pi-twitter"></i></a>
                <a style="background-color: #dd4b39" href=""><i class="pi pi-envelope"></i></a>

            </div>

        </div>
    </div>

</div>
<p-toast baseZIndex='99999' key="appForgot"></p-toast>

<!--<p-toast key="appForgot" [style]="{width: '30%'}"></p-toast>-->

