<div class="content">
    <div class="main_content">
        <div class="list-account-package_header">
            <h2 class="header_name">Gói tài khoản</h2>
            <small class="header_summary">
                Chọn gói tài khoản phù hợp với nhu cầu của bạn để tiết kiệm nhiều chi phí hơn
            </small>

            <div class="list_payment-type">
                <input type="radio" id="all-val" class="payment-type" value="Tất cả" checked>
                <label for="all-val" class="label-payment">Tất cả</label>
                <input type="radio" class="payment-type" value="Chuyển khoản">
                <label for="all-val" class="label-payment">Chuyển khoản</label>
                <input type="radio" class="payment-type" value="Số dư">
                <label for="all-val" class="label-payment">Số dự</label>
                <input type="radio" class="payment-type" value="Biến động">
                <label for="all-val" class="label-payment">Biến động</label>
            </div>
        </div>
        <div class="list-account-package_content">
            <div class="account-package_item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQveKvyep9onjQtgKq28lG-PQcR2xdcIcw97w&usqp=CAU"
                     alt="ảnh nà>" class="account-package-image">
                <div class="card-content">
                    <div class="card-top">
                        <h4 class="account-package-name">Gói chuyển khoản 1</h4>
                        <div class="account-package-price">
                            <p class="price">500,000</p>
                            <small class="period">/7 ngày</small>
                        </div>
                        <div class="account-package-detail">
                            <ul class="detail-rule-summary">
                                <li class="detail-rule">Thời hạn sử dụng trong 7 ngày</li>
                                <li class="detail-rule">Tạo miễn phí tối đa 10 bill / 7 ngày</li>
                                <li class="detail-rule-payment-type">Áp dụng cho bill chuyển khoản</li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn_register_account-package">Đăng ký ngay</button>
                </div>
            </div>
            <div class="account-package_item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQveKvyep9onjQtgKq28lG-PQcR2xdcIcw97w&usqp=CAU"
                     alt="ảnh nà>" class="account-package-image">
                <div class="card-content">
                    <div class="card-top">
                        <h4 class="account-package-name">Gói chuyển khoản 1</h4>
                        <div class="account-package-price">
                            <p class="price">500,000</p>
                            <small class="period">/7 ngày</small>
                        </div>
                        <div class="account-package-detail">
                            <ul class="detail-rule-summary">
                                <li class="detail-rule">Thời hạn sử dụng trong 7 ngày</li>
                                <li class="detail-rule">Tạo miễn phí tối đa 10 bill / 7 ngày</li>
                                <li class="detail-rule">Tạo miễn phí tối đa 10 bill / 7 ngày</li>
                                <li class="detail-rule">Tạo miễn phí tối đa 10 bill / 7 ngày</li>
                                <li class="detail-rule-payment-type">Áp dụng cho bill chuyển khoản</li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn_register_account-package">Đăng ký ngay</button>
                </div>
            </div>
            <div class="account-package_item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQveKvyep9onjQtgKq28lG-PQcR2xdcIcw97w&usqp=CAU"
                     alt="ảnh nà>" class="account-package-image">
                <div class="card-content">
                    <div class="card-top">
                        <h4 class="account-package-name">Gói chuyển khoản 1</h4>
                        <div class="account-package-price">
                            <p class="price">500,000</p>
                            <small class="period">/7 ngày</small>
                        </div>
                        <div class="account-package-detail">
                            <ul class="detail-rule-summary">
                                <li class="detail-rule">Thời hạn sử dụng trong 7 ngày</li>
                                <li class="detail-rule">Tạo miễn phí tối đa 10 bill / 7 ngày</li>
                                <li class="detail-rule-payment-type">Áp dụng cho bill chuyển khoản</li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn_register_account-package">Đăng ký ngay</button>
                </div>
            </div>
            <div class="account-package_item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQveKvyep9onjQtgKq28lG-PQcR2xdcIcw97w&usqp=CAU"
                     alt="ảnh nà>" class="account-package-image">
                <div class="card-content">
                    <div class="card-top">
                        <h4 class="account-package-name">Gói chuyển khoản 1</h4>
                        <div class="account-package-price">
                            <p class="price">500,000</p>
                            <small class="period">/7 ngày</small>
                        </div>
                        <div class="account-package-detail">
                            <ul class="detail-rule-summary">
                                <li class="detail-rule">Thời hạn sử dụng trong 7 ngày</li>
                                <li class="detail-rule">Tạo miễn phí tối đa 10 bill / 7 ngày</li>
                                <li class="detail-rule-payment-type">Áp dụng cho bill chuyển khoản</li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn_register_account-package">Đăng ký ngay</button>
                </div>
            </div>
            <div class="account-package_item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQveKvyep9onjQtgKq28lG-PQcR2xdcIcw97w&usqp=CAU"
                     alt="ảnh nà>" class="account-package-image">
                <div class="card-content">
                    <div class="card-top">
                        <h4 class="account-package-name">Gói chuyển khoản 1</h4>
                        <div class="account-package-price">
                            <p class="price">500,000</p>
                            <small class="period">/7 ngày</small>
                        </div>
                        <div class="account-package-detail">
                            <ul class="detail-rule-summary">
                                <li class="detail-rule">Thời hạn sử dụng trong 7 ngày</li>
                                <li class="detail-rule">Tạo miễn phí tối đa 10 bill / 7 ngày</li>
                                <li class="detail-rule-payment-type">Áp dụng cho bill chuyển khoản</li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn_register_account-package">Đăng ký ngay</button>
                </div>
            </div>
            <div class="account-package_item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQveKvyep9onjQtgKq28lG-PQcR2xdcIcw97w&usqp=CAU"
                     alt="ảnh nà>" class="account-package-image">
                <div class="card-content">
                    <div class="card-top">
                        <h4 class="account-package-name">Gói chuyển khoản 1</h4>
                        <div class="account-package-price">
                            <p class="price">500,000</p>
                            <small class="period">/7 ngày</small>
                        </div>
                        <div class="account-package-detail">
                            <ul class="detail-rule-summary">
                                <li class="detail-rule">Thời hạn sử dụng trong 7 ngày</li>
                                <li class="detail-rule">Tạo miễn phí tối đa 10 bill / 7 ngày</li>
                                <li class="detail-rule-payment-type">Áp dụng cho bill chuyển khoản</li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn_register_account-package">Đăng ký ngay</button>
                </div>
            </div>
            <div class="account-package_item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQveKvyep9onjQtgKq28lG-PQcR2xdcIcw97w&usqp=CAU"
                     alt="ảnh nà>" class="account-package-image">
                <div class="card-content">
                    <div class="card-top">
                        <h4 class="account-package-name">Gói chuyển khoản 1</h4>
                        <div class="account-package-price">
                            <p class="price">500,000</p>
                            <small class="period">/7 ngày</small>
                        </div>
                        <div class="account-package-detail">
                            <ul class="detail-rule-summary">
                                <li class="detail-rule">Thời hạn sử dụng trong 7 ngày</li>
                                <li class="detail-rule">Tạo miễn phí tối đa 10 bill / 7 ngày</li>
                                <li class="detail-rule-payment-type">Áp dụng cho bill chuyển khoản</li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn_register_account-package">Đăng ký ngay</button>
                </div>
            </div>
            <div class="account-package_item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQveKvyep9onjQtgKq28lG-PQcR2xdcIcw97w&usqp=CAU"
                     alt="ảnh nà>" class="account-package-image">
                <div class="card-content">
                    <div class="card-top">
                        <h4 class="account-package-name">Gói chuyển khoản 1</h4>
                        <div class="account-package-price">
                            <p class="price">500,000</p>
                            <small class="period">/7 ngày</small>
                        </div>
                        <div class="account-package-detail">
                            <ul class="detail-rule-summary">
                                <li class="detail-rule">Thời hạn sử dụng trong 7 ngày</li>
                                <li class="detail-rule">Tạo miễn phí tối đa 10 bill / 7 ngày</li>
                                <li class="detail-rule-payment-type">Áp dụng cho bill chuyển khoản</li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn_register_account-package">Đăng ký ngay</button>
                </div>
            </div>

        </div>
        <div class="footer_content">
            <h5 class="account-package-history">
                Gói tài khoản đã đăng ký
            </h5>

        </div>
    </div>
</div>

