<div class="pages-body login-page flex" filter-color="orange" style="overflow:overlay; padding:0px;">
<!--        <a href="" class="topbar-logo">-->
<!--            <img src="assets/layout/images/S_BILL_Topbar_2.png "style="width: 60%; height: 100%"/>-->
<!--        </a>-->
    <div class="body-left">
        <div class=""
             style="border-radius: 30px; border: none; background-color:#ffffff00; box-shadow: none; min-width: 330px;padding: 10rem;">
                <div class="">
                    <img src="assets/layout/images/S_BILL_Login.png "
                         style="width: 60%; height: 100% ;"/>
                </div>
        </div>
    </div>
    <div class="body-right">
    <div class="body-login" style="color: #c9dedd">
        <h2 style="color: #ffffff; font-family: sans-serif;">Chào mừng đến với <span>S BILL!👋</span></h2>
        <p>Vui lòng đăng nhập để sử dụng các chức năng của hệ thống </p>
        <div class="field"style="width: 100%" >
            <label for="username" class="block">Tài khoản</label>
            <input id="username" type="username"  [(ngModel)]="userName"  aria-describedby="username1-help" pInputText/>
        </div>
        <div class="field" style="width: 100%">
            <div style="display:flex; justify-content: space-between;margin-bottom: 0.5rem;">
                <label for="password" class="block">Mật khẩu</label>
                <a [routerLink]="['/forgotpassword']" routerLinkActive="active">Quên mật khẩu</a>
            </div>
            <p-password id="password" [(ngModel)]="password"  [toggleMask]="true"[feedback]="false" [inputStyle] = "{'width':'100%'}" ></p-password>
        </div>
        <div class="field-checkbox">
            <p-checkbox id="rememberMe" value="vlrememberMe" [(ngModel)]="rememberMe"  inputId="ny"></p-checkbox>
            <label for="rememberMe">Ghi nhớ đăng nhập</label>
        </div>
        <div class="field" style="width: 100%">
            <p-button class="login-button" (onClick)="onSubmit()" [style]="
            {'background-color': 'white', 'color': 'black','margin-bottom':'0rem','width':'100%'}" label="Đăng nhập"></p-button>
        </div>
        <div class="footer-login" >
            <p><span>Bạn chưa có tài khoản?</span> <a [routerLink]="['/register']" routerLinkActive="active"> Tạo tài khoản </a></p>
        </div>
        <div class="px-3" style="align-items: center;border-bottom: 1px solid #dadde1;display: flex;margin: 20px 28px;text-align: center;width:80%;"></div>
        <div class="footer-login">
            <a style="background-color: #3b5998"href="" ><i class="pi pi-facebook"></i></a>
            <a style="background-color:#444444"href=""><i class="pi pi-github"></i></a>
            <a style="background-color:#55acee"href=""><i class="pi pi-twitter"></i></a>
            <a style="background-color: #dd4b39"href=""><i class="pi pi-envelope"></i></a>

        </div>

    </div>
    </div>

</div>
<p-toast baseZIndex='99999' key="app-login"></p-toast>
